  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="container1">
    <div fxFlex="50" class="container2" >
      <div class="container3">
        <h1 class= "headline">Where teams get work done</h1>
        <p class = "paragraph">
          Is the Work OS that powers teams<b></b> to run processes, projects and everyday
          work thair way.
        </p>
        
        <button mat-raised-button id="warn">Get Started  <span class="material-icons">
          keyboard_arrow_right
          </span></button>
      
    </div>
    
    </div>

    <div fxFlex="50" class="logo">
      <img  src="../../assets/images/logo.png">
    </div>
  </div>
