<section>
    <div class="container">
        <h1>Over 100,000 organizations worldwide rely on us</h1>
        <div class="img1" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img src="../../assets/images/youtube.png">
            <img src="../../assets/images/star.png">
            <img src="../../assets/images/windows.png">
            <img src="../../assets/images/matrix.png">
        </div>
        <div  class="img2" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img src="../../assets/images/messanger.png">
            <img src="../../assets/images/intel.png">
            <img src="../../assets/images/instagram.png">
            <img src="../../assets/images/apple2.png">
        </div>
       
    </div>
</section>